<!DOCTYPE html>
<html>
  <head>
    <title>NetBreak</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to NetBreak!</h1>
    <p>By Shanny Assa, Yoav Geva and Yair Ashkenazi</p>
  </body>
</html>
